.home-page-top-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.home-page-profile-img {
    border-radius: 7rem;
    margin-top: 0.5rem;
    width: 2.5rem;
}

.home-page-customer-name-label {
    font-family: 'Poppins';
    font-size: 1rem;
}

.home-page-inner-top-div {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 0.5rem;
}

.home-page-food-request-div {
    margin-top: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;

}
.home-page-food-r-request-div{
    margin-top: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.home-page-food-d-outer-div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.home-page-food-request-label {
    font-size: 1rem;
}

.home-page-view-all-label {
    font-size: 0.8rem;
    color: #b8b8b8;
}

.home-page-food-request-labels-div {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.home-page-food-donation-card-div {
    padding: 1rem;
    margin-top: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: #f7f7f7;
    border-radius: 1rem;
    gap: 1.5rem;
}

.home-page-food-donation-card-right-div {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 0.5rem;
}

.home-page-food-donation-card-button-div {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

.home-page-waiting-button {
    font-size: 0.8rem;
    background-color: #fff;
    border-radius: 0.5rem;
    padding: 0.2rem 1rem;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.home-page-accept-button {
    color: #fff;
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    padding: 0.2rem 0.5rem;
    border: none;
}

.home-page-category-div{
    margin-top: 1rem;
    padding: 0rem 1.5rem;
}
.home-page-category-cards-div{
    margin-top: 1rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    gap: 1rem;
}
.home-page-category-card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.home-page-category-img{

}
.home-page-category-img2{
    background-color: #f8f8f8;
    padding: 0.1rem 0.5rem;
}