.sign-welcome-div{
    margin-top: 1rem;
}
.sign-main-div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0rem 1rem;
}
.sign-welcome-label{
    font-size: 1.5rem;
}
.sign-in-div{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.sign-input-div{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.sign-sign-in-label{
    font-size: 1.5rem;
}
.sign-inputs{
    padding: 0.5rem 1rem;
    width: 20rem;
    border-radius: 1rem;
    border: 1px solid #b8b8b8;
}
.forgot-password-label{
    font-size: 0.8rem;
    margin-top: -1rem;
    margin-left: 10rem;
}
.sign-submit-button-div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
}
.sign-submit-button{
    padding: 0.5rem 0.5rem;
    width: 20rem;
    border-radius: 1rem;
    border: none;
    background-color: var(--primary-color);
}
.already-have-account{
    font-size: 1rem;
}